node_modules/
.env
.ipynb_checkpoints/
DATASET-*/
PYTHON-2/T3/DJANGO/P3/app2/migrations/__init__.py
PYTHON-2/T3/DJANGO/P3/P3/__init__.py
PYTHON-2/T3/DJANGO/P3/app1/__init__.py
PYTHON-2/T3/DJANGO/P3/app1/migrations/__init__.py
PYTHON-2/T3/DJANGO/P3/app2/__init__.py
PYTHON-2/T3/DJANGO/B4/B4/__init__.py
PYTHON-2/T3/DJANGO/B4/app1/__init__.py
PYTHON-2/T3/DJANGO/B4/app1/migrations/__init__.py
PYTHON-2/T3/DjangoSelf/app1/__pycache__/__init__.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/app1/__pycache__/admin.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/app1/__pycache__/models.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/app1/__pycache__/apps.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/app1/migrations/__init__.py
PYTHON-2/T3/DjangoSelf/app1/migrations/__pycache__/__init__.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/DjangoSelf/__init__.py
PYTHON-2/T3/DjangoSelf/DjangoSelf/__pycache__/__init__.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/DjangoSelf/__pycache__/settings.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/DjangoSelf/__pycache__/wsgi.cpython-314.pyc
PYTHON-2/T3/DjangoSelf/DjangoSelf/__pycache__/urls.cpython-314.pyc
