node_modules/
.env
.ipynb_checkpoints/
DATASET-*/
PYTHON-2/T3/DJANGO/P3/app2/migrations/__init__.py
PYTHON-2/T3/DJANGO/P3/P3/__init__.py
PYTHON-2/T3/DJANGO/P3/app1/__init__.py
PYTHON-2/T3/DJANGO/P3/app1/migrations/__init__.py
PYTHON-2/T3/DJANGO/P3/app2/__init__.py
PYTHON-2/T3/DJANGO/B4/B4/__init__.py
PYTHON-2/T3/DJANGO/B4/app1/__init__.py
PYTHON-2/T3/DJANGO/B4/app1/migrations/__init__.py
