<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    form >
        <input type="text" name="q" placeholder="Search here" > <br>
        <input type="submit" > Search 
    </form>
    {% for i in movies %}
    <table>
        <tr>
            <td><a href="{% url 'detail.html' i.pk %}">{{i.title}}</a></td>
        </tr>
    </table>
    {% endfor %}
</body>
</html>