<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} 
      Title : <input type="text" name="title" value="{{movies.title}}"/> <br />
      Director : <input type="text" name="director" value="{{movies.director}}" /> <br />
      Rating : <input type="number" name="rating" value="{{movies.rating}}"/> <br />
      Release Date : <input type="date" name="release" value="{{movies.release}}"/> <br />
      Description : <textarea name="description" value="{{movies.description}}" ></textarea> <br />
      <input type="submit" /> 
    </form>
  </body>
</html>
