<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>
          Title
        </td>
        <td>
          Author
        </td>
        <td>
          Published Date
        </td>
        <td>
          Price
        </td>
        <td>
          ISBN
        </td>
      </tr>
      <tr>
        <td>
          {{b.title}}
        </td>
        <td>
          {{b.author}}
        </td>
        <td>
          {{b.date}}
        </td>
        <td>
          {{b.price}}
        </td>
        <td>
          {{b.ISBN}}
        </td>
      </tr>
    
    </table>
  </body>
</html>
