{% extends 'base.html' %} {% block title %}
<title>Home</title>
{% endblock title %} {% block body %}
<h1>This is body</h1>
<form action="" method="get">
    player_name <input type="text" name="name">
    <input type="submit" value="search">
</form>
<table border="1">
    <thead>
        <tr>
            <td>Name</td>
            <td>Test Innings</td>
            <td>Runs</td>
            <td>Actions</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.innings}}</td>
            <td>{{i.runs}}</td>
            <td>edit</td>
            <td>Delete</td>
        </tr>
        {% endfor %}
    </thead>
</table>
{% endblock body %}
