<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Name</td>
        <td>Div</td>
        <td>School</td>
        <td>Rank</td>
        <td>Marks</td>
      </tr>
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.div}}</td>
        <td>{{i.school}}</td>
        <td>{{i.rank}}</td>
        <td>{{i.marks}}</td>
      </tr>
    </table>
  </body>
</html>
