<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{product.name}}</title>
  </head>
  <body>
    <h1>{{product.name}}</h1>
    <h1>{{product.price}}</h1>
    <h1>{{product.quantity}}</h1>
    <h1>{{product.description}}</h1>
    <a href="{% 'product_edit' product.pk %}">Edit</a>
    <a href="{% 'product_delete' product.pk %}">Delete</a>
    <a href="{% 'product_list' %}">Back</a>
  </body>
</html>
